h1{text-align: center;}
.szoveg{font-family:'Times New Roman', Times, serif ; font-size: larger;}
.palya{width: 600px;}
.tori{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 30px; margin-left: 20px; margin-right: 20px;}
.regi{width: 500px;}
.regi2{width: 500px; margin-left: 846px;}
.keprola{width: 200px;}